* {
background-color: aliceblue;
font-family: 'Roboto', sans-serif;

}

h1 {
text-align: center;

}

h2 {
    text-align: center;
    color:gray;
    border-color: brown;
}

img {
    height: 400px;
    width: 400px;
    display: block;
    margin: auto;
    border-radius: 35px;
}